input,
button {
  @include inputs  
}

.button{   
  width: 200px;   
  &-main {
    @extend .button;    
  }
}

.label {  
  font-family: var(--font1); 
  @include fontSize(.75rem); 
  input {
    @include fontSize(1rem);
    text-align: left;
    display: block;    
  }
}
