input,
button {
  @include inputs;
}

button {
  cursor: pointer;
}

.btn {
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: var(--boxShadow2);
  margin: 0.5rem;

  &-primary {
    @extend .btn;
    background-color: var(--primary);
    color: var(--white);
  }

  &-secondary {
    @extend .btn;
    color: var(--primary);
    background-color: var(--white);
  }

  &-tertiary {
    @extend .btn;
    color: var(--white);
    background-color: var(--tertiary);
  }
}

.label {
  font-family: var(--font1);
  color: var(--darkblue2);
  @include fontSize(0.75rem);

  input {
    @include fontSize(1rem);
    text-align: left;
    display: block;
    border-bottom: 2px solid var(--darkblue1);
    margin-right: 1rem;
    width: inherit;
    color: inherit;
  }
}
