:root{
  // COLORS
  --primary: #307ABF ;
  --secundary:#C2290A;
  // DARKBLUE
  --darkblue1:#2166A6;
  --darkblue2:#15538C;
  --darkblue3:#0B4073;
  //LIGHTBLUE
  --lightblue1: #478CCC;
  --lightblue2: #629FD9;
  --lightblue3: #7EB4E5;
  // GRAY_SCALE
  --gray1: #29333D;
  --gray2: #48596B;
  --gray3: #677F98;
  --gray4: #95A5B7; 
  //ORANGE
  --orange1: #E53B1A;
  --orange2: #E06952;
  --orange3: #E09385;
  // BASE FONT 
  font-size: 16px; 
  --font1: Roboto, "San-serif";
  // ZINDEX
  --zindex-1: -1;
  --zindex0: 0;
  --zindex1: 1;
  --zindex2: 2;
  --zindex3: 3;  
}

*, ::after, ::before {
  margin: 0;
  padding: 0;  
  box-sizing: border-box;  
 //outline: 1px solid gray;
}

body {  
  width: 100vw;
  height: 100vh; 
  font-family: var(--font1);
  font-size: 1rem;
}

::-webkit-scrollbar {
  width: 0.5rem;     /* Tamaño del scroll en vertical */
  height: 0.5rem;    /* Tamaño del scroll en horizontal */
  // display: none;  /* Ocultar scroll */
}

::-webkit-scrollbar-thumb {
  background: var(--orange1);
  border-radius: 4px;}

