.title {
  font-family: var(--font1);
  &1{
    font-weight: 500;
    font-size: 2rem;
  }
  &2{
    font-size: 1.5rem;
  }
  &3{
    font-size: 1.2rem;
  }
  &4{
    font-size: 1rem;
  }
  &5{
    font-size: 1rem;
  }
  &6{
    font-size: 1rem;
  }
}

.p {  
  @include fontSize(1rem);
  text-align: left;
  &-enphasis{
    @extend .p;
    font-weight: 500;
  }
  &-cite {
    @extend .p;
    font-weight: 500;
    font-style: italic;
  }
}

small {
  @include fontSize(.5rem)
}