.buttonsContainer {
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 600px;  
  button {
    background-color: orange;
    border-radius: 20px;
    width: 200px;
    border: none;   
    font-weight: 500; 
    outline: none;
  }
}