.ButtonsContainer { 
  // LAYOUT  
  position: fixed; 
  top: 70px;
  display: inline-block;   
  height: calc(100vh - 70px);  
  width: (100vw)/6;   
  z-index: var(--zindex0);  
  // STYLE
  background-color: var(--gray3);
  color: white;
  text-decoration-color: var(--gray4);
  box-shadow: 2px 0 2px 0 var(--gray2);    

  .shapesButtons{
    // LAYOUT
    width: 100%;
    height: calc(100vh - 70px - 90px);    
    position: absolute;  
    top: 0;   
    overflow-y: scroll;
    // STYLES    
    .shapeInfo {
      // LAYOUT
      width: 100%;
      height: auto;
      display: block;      
      text-align: left;
      padding: 0.5rem 1rem 0.2rem;   
      background-color: inherit;  
      color: inherit;
      border-left: 0.5rem solid var(--darkblue2);
      border-bottom: 1px solid var(--gray4); 

      span, h3 {
        color: inherit;
        background-color: inherit; 
        display: block;
        width: 100%;           
        margin-bottom: 0.2rem;    
      }

      span {
        font-size: 0.75rem;
        margin-bottom: 0;
      }

      &:hover {
        background-color: var(--gray2);
      }      
      
      &-selected {
        @extend .shapeInfo;
        background-color: var(--gray1);
      }      
    }
  }

  .actionsButtons {
    // LAYOUT
    width: 100%;
    height: auto;
    position: absolute;
    padding: 0.5rem; 
    bottom: 0;
    // STYLES
    background-color: inherit;   
    box-shadow: 0 -2px 2px 0 var(--gray2); 

    button {
      margin: 0 auto;
      margin-bottom: 0.3rem;
      display: block;
      width: 80%;
    }

  }
}