.buttonsContainer {  
  grid-area: buttons;  
  width: 100%; 
  height: 100%;   
  .shapesButtons{
    width: 100%;
    height: auto;    
    outline: 3px solid salmon;
    overflow-y: scroll;
    background-color: pink;    
    .shapeInfo {
      width: 100%;
      height: auto;
      display: block;      
      text-align: left;
      padding: 0.5rem;      
      span, h3 {
        display: block;
        width: 100%; 
        background-color: red;   
        margin-bottom: 0.2rem;    
      }
    }    
  }
  .actionsButtons {
    background-color: red;    
    padding: 0.5rem; 
    button {
      margin: 0 auto;
      margin-bottom: 0.5rem;
      display: block;
    }
  }
}

