@import "../../styles/mixins";

.Header {
  // LAYOUT
  width: 100vw;
  height: 30px;
  padding: 30px 10px;
  @include gridContainer(center, center, 0, 10px);
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: ". . SearchBar SearchBar SearchBar SearchBar SearchBar SearchBar SearchBar SearchBar NavBar NavBar";
  position: fixed;
  z-index: var(--zindex1);
  // STYLES
  background-image: var(--gradient1);
  box-shadow: var(--boxShadow1);
}
