.header {
  width: 100vw;
  height: 80px;   
  background-color: white;
  display: flex;
  border-bottom: 10px solid var(--color1);
  ul {
    display: flex;
    justify-content: space-between;
  }   
  input {
    height: 30px;
    width: 600px;
    border-radius: 15px;
    outline: none;
    border: 2px solid var(--gray1);
    padding: 0 15px;
  }
}

