@import "../../styles/mixins";

.SideBar {
  position: fixed;
  display: inline-block;
  @include dimensions((100vw)/6, 100vh);
  padding-top: 60px;
  z-index: var(--zindex0);

  background-color: var(--gray1);
  box-shadow: var(--boxShadow1);

  &-Title {
    color: var(--white);
    background-color: var(--tertiary);
    @include box(0.5rem, 0);
  }

  &-Shapes {
    overflow-y: scroll;
    @include flexContainer(column, center, flex-start, nowrap);
    @include dimensions(100%, calc(100vh - 60px - 112px - 38px));
  }

  &-Buttons {
    @include flexContainer(column, center, flex-start, nowrap);
    @include dimensions(100%, auto);
    @include box(0.5rem, 0);
    position: absolute;
    bottom: 0;
    z-index: var(--zindex0);
  }
}
