.inputBarContainer {
  display: grid;
  grid-template: 1fr 1fr 1fr / repeat(1fr);
  grid-template-areas: 
   "inputElement inputElement inputBars inputBars . . . . . . . ."
   "inputElement inputElement inputBars inputBars . . . . . . . .";
}

.bars {     
  width: 100%;
  height: auto;  
  margin: 0 auto; 
  margin-bottom: 1em;
  padding: 20px 0;   
  display: initial; 
  grid-area: bars;    
  &__bar {
    margin: 0 auto;       
    width: 80%;
    height: auto;
    padding: 20px;    
    border-radius: 5px;
    h3 {
      margin-bottom: 10px;
    }
  }
  
}

.dataContainer {
  height: 30px; 
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;   
  &__bar {
    height: 100%;    
    width: 90%;
    border-radius: 15px;
  }
  &__data {
    font-size: 12px;    
    width: auto;
    span {
      display: block;
      text-align: right;
    }
  }  
}

.loadBar {
  height: 100%;  
  border-radius: inherit;
}

.elements {  
  grid-area: bars;
  width: 100%;
  display: block;  
  margin: 0 auto;
}

.infoContainer {
  display: flex;  
}


