.shapeInfo {
  // LAYOUT
  width: 100%;
  height: auto;
  display: block;
  text-align: left;
  padding: 0.5rem 1rem 0.2rem;
  background-color: inherit;
  color: inherit;
  border-bottom: 1px solid var(--gray4);

  span,
  h3 {
    color: inherit;
    background-color: inherit;
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  span {
    font-size: 0.75rem;
    margin-bottom: 0;
  }

  &:hover {
    background-color: var(--gray2);
  }

  &-selected {
    @extend .shapeInfo;
    background-color: var(--gray1);
  }
}
